<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>The Team</h5>
            </div>
            <div class="card-body"> 
                <div class="row">
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Dan.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:danprice@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/danon-dan-price-7a6b53/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Dan Price</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Jacques sq.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:jacquesmakutonin@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/jacques-m-3784165/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Jacques Makutonin</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Jonathan sq.jpg" alt="" class="img-fluid img-thumbnail" height="120px" width="120px">
                                    <div class="social-media">
                                        <a href="mailto:jdsouza@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/jonathan-d-souza-0b69048/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Jonathan D'Souza</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Michael sq.jpg" alt="" class="img-fluid  img-thumbnail ">
                                    <div class="social-media">
                                        <a href="mailto:mareiter@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/michael-reiter-63986865/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Michael Reiter </h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                       <!-- /.team-block -->
                    </div>

                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Sky.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="sky.alibhai@gmail.com" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="#" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Sky Alibhai</h5>
                                <h5><span class="text-secondary">WildTrack</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>

                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Zoe.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:info@conservationfit.org" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/zo%C3%AB-jewell-aa05203/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Zoe Jewell</h5>
                                <h5><span class="text-secondary">WildTrack</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>   


<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>The Project - WildTrackAI</h5>
            </div>
            <div class="card-body"> 
                <p class="text-secondary">
                    WildTrackAI is a collaboration between <a href="https://wildtrack.org" target="_blank">WildTrack</a> and the
                    <a href="https://www.ischool.berkeley.edu/" target="_blank">UC Berkeley School of Information</a>. It was initiated as a Summer 2020 Capstone Project for the 
                    <a href="https://ischoolonline.berkeley.edu/data-science/" target="_blank">MIDS Program</a>. 
                </p>

                <div class="row">
                    <div class="col-6">
                        <h5>Final Presentation</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe allowfullscreen style="position:absolute; width: 100%; height: 100%;border: solid 1px #333;" src="https://www.beautiful.ai/embed/-MEcIDloAzqkfNdCAMFH?utm_source=beautiful_player&utm_medium=embed&utm_campaign=-MDN9TF-fauASMXe0r_5">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>Overview by WildTrack Co-Founders</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="static/images/WAI.mp4" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

              
                

                
                

                <p>
                <h5>References: </h5>
                <ul>
                    <li><a href="https://github.com/jtdsouza/WildTrackAI-MIDS-CAPSTONE" target="_blank">GitHub Repository</a></li>
                    
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>   







<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>About WildTrack</h5>
            </div>
            <div class="card-body"> 
                <p><a href="https://wildtrack.org">WildTrack (wildtrack.org)</a> is a non-profit organization that aims to develop and provide non-invasive and effective monitoring of endangered species in order to reduce biodiversity loss, 
                    enable sustainable coexistence of humans and wildlife, and reduce disease transmission from animals to humans.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dfRWi7xlRuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen></iframe>
                </div>

                <p>
                <h5>References: </h5>
                <ul>
                    <li><a href="https://wildtrack.org/how-fit-works/" target="_blank">What is FIT</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/partner-with-us/" target="_blank">How to partner with us</a> and 
                        <a href="https://wildtrack.org/example-footprints" target="_blank">How to take footprint images</a> </li>
                    <li><a href="https://wildtrack.org/blog/" target="_blank">WildTrack blog</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/where-we-work/" target="_blank">Where we work</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/helping-your-organization/" target="_blank">Helping your Organization network</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/education-and-communities/" target="_blank">Education and communities</a></li>
                    
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>   

