
<div class="row row-content align-items-center;  ;">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>About WildTrack</h5>
            </div>
            <div class="card-body"> 
                <p><a href="https://wildtrack.org">WildTrack (wildtrack.org)</a> is a non-profit organization that aims to develop and provide non-invasive and effective monitoring of endangered species in order to reduce biodiversity loss, 
                    enable sustainable coexistence of humans and wildlife, and reduce disease transmission from animals to humans.</p>
                
                </p>
                <embed src="static/WildTrackAI.pdf" type="application/pdf" width="100%" height="600px" />
            </div>
        </div>
    </div>
</div>   



<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>The Team</h5>
            </div>
            <div class="card-body"> 
                <div class="row">
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Dan.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:danprice@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/danon-dan-price-7a6b53/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Dan Price</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Jacques sq.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:jacquesmakutonin@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/jacques-m-3784165/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Jacques Makutonin</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Jonathan sq.jpg" alt="" class="img-fluid img-thumbnail" height="181px" width="300px">
                                    <div class="social-media">
                                        <a href="mailto:jdsouza@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/jonathan-d-souza-0b69048/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Jonathan D'Souza</h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-block -->
                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Michael sq.jpg" alt="" class="img-fluid  img-thumbnail ">
                                    <div class="social-media">
                                        <a href="mailto:mareiter@ischool.berkeley.edu" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/michael-reiter-63986865/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Michael Reiter </h5>
                                <h5><span class="text-secondary">UC Berkeley</span></h5>
                            </div>
                        </div>
                       <!-- /.team-block -->
                    </div>

                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Sky.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="sky.alibhai@gmail.com" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="#" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Sky Alibhai</h5>
                                <h5><span class="text-secondary">WildTrack</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>

                    <!-- team-block -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Zoe.jpg" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto:info@conservationfit.org" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href="https://www.linkedin.com/in/zo%C3%AB-jewell-aa05203/" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Zoe Jewell</h5>
                                <h5><span class="text-secondary">WildTrack</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Louis Lisq.jpeg" alt="" style= "width:300px;height:181px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href= class="social-icon-box"><i class=></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Louis Li</h5>
                                <h5><span class="text-secondary">Microsoft</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Sathvik Prasannasq.jpeg" style = "height:181px; width:300px" alt="" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href= class="social-icon-box"><i class=></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Sathvik Prasanna</h5>
                                <h5><span class="text-secondary">John F. Kennedy Middle School</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Kishor Raosq.jpg" alt="" style= "width:300px;height:181px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto: kishor.rao@gmail.com" class="social-icon-box"><i class="fa fa-envelope"></i></a>
                                        <br>
                                        <a href=" https://www.linkedin.com/in/kishorrao" class="social-icon-box" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Kishor Rao</h5>
                                <h5><span class="text-secondary">Cloud and Database Architect</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Cyril Glinersq.jpg" alt="" style= "width:300px;height:181px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href= class="social-icon-box"><i class=></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Cyril Gliner</h5>
                                <h5><span class="text-secondary">Imperial College, London</span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/Andrew Picture.jpg.png" alt="" style= "width:300px;height:181px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href= class="social-icon-box"><i class=></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Andrew Kiruluta</h5>
                                <h5><span class="text-secondary"> UC Berkeley </span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/tgspicsq.jpeg" alt="" style= "width:300px;height:181px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href="mailto: nddsouza@icloud.com" class="social-icon-box"><i class= "fa fa-envelope"></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Noah D'Souza</h5>
                                <h5><span class="text-secondary"> THINK Global School </span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>


                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb30">
                        <div data-aos="fade-up" class="team-block">
                            <div class="team-img">
                                <a href="#">
                                    <img src="static/images/jack.jpeg" alt="" style= "width:300px;height:190px" class="img-fluid img-thumbnail">
                                    <div class="social-media">
                                        <a href= "mailto: jndsouza@icloud.com" class="social-icon-box"><i class= "fa fa-envelope"></i></a>
                                        <br>
                                        <a href= class="social-icon-box" target="_blank"><i class=></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="team-content">
                                <h5>Jack D'Souza</h5>
                                <h5><span class="text-secondary"> Oak Meadow High School </span></h5>
                            </div>
                        </div>
                        <!-- /.team-block -->
                    </div>











                </div>
            </div>
        </div>
    </div>
</div>   



              
