{% extends 'toolbar-user.html' %}

{% block header %}
<header class="jumbotron">
  <div class="row row-header">
      <div class="col">
        <div class="alert alert-info">
          <small>Last Model Refresh: <strong><em>{{last_model_refresh}}. </em></strong> Species: <em>Amur Tiger, Bengal Tiger, Cheetah, Leopard, Puma, Jaguar, African Lion, African Elephant, Black Rhino, White Rhino, Lowland Tapir, Bongo, Otter.</em> </small>
        </div>
      </div>
  </div>
</header>

    
{% endblock %}


{% block content %} 

<div class="container-fluid">
  <div id="toolbar">
      <button id="reportsighting" class="btn btn-secondary">New Observation</button>
  </div>

  <div id="ReportSightingModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Observation</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            
            
             
            <div class="modal-body">
                <form id="NewSightingform" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="name" class="col-md-1 col-form-label">Name</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="newname" name="newname" placeholder="Name">         
                        </div>
                      
                          <label for="email" class="col-md-1 col-form-label">Email</label>
                    
                          <div class="col-md-3">
                              <input type="email" class="form-control" id="newemail" name="newemail" placeholder="Email">
                              
                          </div>  

                          <label for="name" class="col-md-1 col-form-label">Organization</label>
                    
                          <div class="col-md-3">
                              <input type="text" class="form-control" id="org" name="org" placeholder="Organization">
                              
                          </div>  

                    </div>


                    <div class= "form-group row">
                      <label for = "date" class="col-md-1 col-form-label;\">Date</label> 
                        <div class = "col-md-3">
                          <input type="date" class="form-control" id="date" name="date"  placeholder="mm-dd-yyyy">
                          <p id = "datePrompt"></p>
                        </div>
                        
                      <label for="place" class="col-md-1 col-form-label">Location</label>
                       <div class = "col-md-3">
                           <input type="text" class="form-control" id="place" name="place" onblur= "validatePlace();" placeholder="City, State">
                                       
                      </div>
                     <label for = "long/lat" class = col-md-1> Coordinates</label>
                      <div class = col-md-3>
                          <button onclick = "getLocation();"> get coordinates</button>
                          <p id = "demo"></p>
                      </div>    
                  </div>

                      
                  <div class = "form-group row">
<!--
                      <label for = "species" class = "col-md-1"> Species</label> 
         
                        <div class = "col-md-3">
                        <form action = "action-page-php">
                            <select name = "species">
                                <option value = "Aardvark"> Aardvark</option>
                                <option value = "Bear:Sloth"> Bear: Sloth</option>
                                <option value = "Bongo: Eastern Mountain"> Bongo: Eastern Mountain</option>
                                <option value = "Cat: Domestic"> Cat: Domestic</option>
                                <option value = "Cheetah: Asiatic"> Cheetah: Asiatic</option>
                                <option value = "Cheetah: Northeast African"> Cheetah: Northeast African</option>
                                <option value = "Cheetah: Northwest African"> Cheetah: Northwest African</option>
                                <option value = "Cheetah: Southeast African"> Cheetah: Southeast African</option>
                                <option value = "Crow: Hooded">Crow: Hooded </option>
                                <option value = "Dog: Domestic">Dog: Domestic </option>
                                <option value = "Duiker: Common">Duiker: Common </option>
                                <option value = "Elephant: African"> Elephant: African</option>
                                <option value = "Fox: Red">Fox: Red </option>
                                <option value = "Gazelle: Mountain">Gazelle: Mountain </option>
                                <option value = "Giraffe: South African"> Giraffe: South African</option>
                                <option value = "Hare: Scrub">Hare: Scrub </option>
                                <option value = "Horse">Horse </option>
                                <option value = "Human">Human </option>
                                <option value = "Hyena: Spotted">Hyena: Spotted </option>
                                <option value = "Impala: Black Faced">Impala: Black-faced </option>
                                <option value = "Jackal: Black Backed">Jackal Black-backed </option>
                                <option value = "Jackal: Golden">Jackal: Golden </option>
                                <option value = "Jaguar">Jaguar </option>
                                <option value = "Leopard: African"> Leopard: Indian</option>
                                <option value = "Leopard: Indian">Leopard: Indian</option>
                                <option value = "Leopard: Snow">Leopard: Snow </option>
                                <option value = "Lion: African">Lion: African </option>
                                <option value = "Mongoose: Stripe-necked">Mongoose: Stripe-necked </option>
                                <option value = "Oryx">Oryx </option>
                                <option value = "Ostrich"> Ostrich</option>
                                <option value = "Otter: Eurasian">Otter: Eurasian </option>
                                <option value = "Panda: Giant"> Panda: Giant</option>
                                <option value = "Porcupine: Indian Crested"> Porcupine: Indian Crested</option>
                                <option value = "Porcupine: South African"> Porcupine: South African</option>
                                <option value = "Puma"> Puma</option>
                                <option value = "Racoon">Racoon </option>
                                <option value = "Rhino: Black">Rhino: Black </option>
                                <option value = "Rhino: White">Rhino: White </option>
                                <option value = "Springbuck"> Springbuck</option>
                                <option value = "Squirrel: Grey">Squirrel: Grey </option>
                                <option value = "Stone-curlew: Eurasian">Stone-curlew: Eurasian </option>
                                <option value = "Tapir: Lowland">Tapir: Lowland </option>
                                <option value = "Tiger: Amur">Tiger: Amur </option>
                                <option value = "Tiger: Bengal">Tiger: Bengal </option>
                                <option value = "Turtle: Box">Turtle: Box </option>
                                <option value = "Turtle: Green">Turtle: Green </option>
                                <option value = "Turtle: Loggerhead">Turtle: Loggerhead </option>
                                <option value = "Wild dog: Indian (Dhole)">Wild dog: Indian (Dhole) </option>
                                <option value = "Wolf: Arabian">Wolf: Arabian </option>
                                <option value = "Wolf: Arabian">Wolf: Arabian </option>
                                <option value = "Wolf: Indian">Wolf: Indian </option>
                                
                            </select>
                        </form> 

                      </div>

-->
                  <label  for = "individual" class="col-md-1 col-form-label">Individual</label>
                  <div class= "col-md-3">
                      <input type="text" class="form-control" id="individual" name="individual" placeholder="Name (if known)">
                    
                  </div> 
<!--
                  <label for = "sex" class = "col-md-1"> Sex </label>
                  <div class = "col-md-3">
                      <form action = "action-page-php">
                          <select name = "gender">
                              <option value = "male"> Male</option>
                              <option value = "male"> Female</option>
                              <option value = "unknown"> Unknown</option>
                              
                          </select>
                      </form>
                  </div>
-->
                </div>
                           
                         
                
                <div class = "form-group row">
                  <label for ="time" class = "col-md-1"> Time</label>
                  <div class = "col-md-3">
                      <input type= "time" id = "time" class = "form-control" placeholder = "select time">
                  </div>
                </div>


                  
                                               
   
                    
                      
                <div class="form-group row">
                    <label for="images" class="col-md-1 col-form-label">Images</label>
                    <div class="col-md-4">
                        <input type="file" class="form-control" id="images" name="images" accept="image/*" multiple="multiple" onchange="loadFile(event)">
                        <output id="prints">
                    </div>  
                </div>
                           


                <div class="form-group row">
                    <label for="notes" class="col-md-1 col-form-label"> Notes</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="notes" name="notes" 
                        placeholder="Any additional notes about your observations?" 
                        rows="6"></textarea>   
                    </div>                       
                </div>

                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"  >
                            Submit
                        </button>
                    </div>                      
                </div>

                <div class = "form-group-row">
                  <div class = "col-md-2">
                  <p id="save"></p> 
                  </div> 
                </div>

              </form>

            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    
  <div class="table-responsive">
    <table id="table" 
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-click-to-select="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-export="true"
        data-pagination="true"
        data-side-pagination="server"
        data-show-jump-to="true"
        data-unique-id="ID"
        data-escape="false"
        data-page-list="[10,25, 50, 100, all]"
        data-url="get_sightings"
    >
    </table>
  </div>



    <!-- Modal style="width:95%; height:95%; margin:20px auto" -->
    <div id="ModalTable" class="modal fade ">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" >
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center d-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Observation Detail</h4>

                </div>
                <div class="modal-body">
                  <div id="ModalSummary">
 
                    <div class="table-responsive">
                      <table id="currentsightingtable" class="table table-sm" 
                        data-locale="en-US"
                        data-toggle="table"
                        data-escape="false">
                      </table>
                    </div>

                    <div class="row row-content align-items-center">  
                    <div class="table-responsive">
                        <table  
                            id="artifacttable" class="table table-striped table-sm" 
                            data-locale="en-US"
                            data-toggle="table"
                            data-pagination="true"
                            data-escape="false"
                            data-undefined-text=""
                            data-height="350">
                        </table>
                    </div>
                    </div>
                </div>
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
  </div>
  </div>
  {% endblock %} 


  {% block script %} 
        var $table = $('#table');
        var $artifactTable=$('#artifactTable');
        var $currentsightingtable=$('#currentsightingtable');
        
        function ModalLinkFormatter(value, row, index) {
          //console.log(row)
          //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\''+JSON.stringify(row)+'\')\">'+value+'</a>'
          var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\''+row["ID"]+'\')\">'+value+'</a>'
          //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\'5efce6c33d65356d5097593c\')\">'+value+'</a>'
          //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(2)\">'+value+'</a>'
          //console.log(linktext);
          return linktext;
        }

        function launchModal(ID) {
          //console.log(row)
          //var ID=row["ID"]
          //console.log($table.bootstrapTable('getRowByUniqueId', ID))
          var current_sighting=$table.bootstrapTable('getRowByUniqueId', ID)
          var detail_url='get_details/?sightingID='+ID
          //var detail_url='get_details'
          console.log(detail_url)
          console.log(current_sighting)
          $("#currentsightingtable").bootstrapTable('destroy').bootstrapTable({
            columns: [
              {
                title: 'Organization',
                field: 'Organization',
                align: 'center',
                valign: 'middle'
              },
              {
                title: 'Name',
                field: 'Name',
                align: 'center',
                valign: 'middle'
              }, 
              {
                title: 'Date',
                field: 'TimeStamp',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Species',
                field: 'Species',
                align: 'center',
                valign: 'middle'
              }, {
                title: 'Predicted Species',
                field: 'Species_Inference',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Individual',
                field: 'Individual',
                align: 'center',
                valign: 'middle'
              }, {
                title: 'Predicted Individual',
                field: 'Individual_Inference',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Sex',
                field: 'Sex',
                align: 'center',
                valign: 'middle'
              } , {
                title: 'WildTrack Comments',
                field: 'ExpertComments',
                align: 'center',
                valign: 'middle'
              }
            ],
            data:[current_sighting]
          });


          //$("#current_sighting").text(current_sighting);
          //$("#currentsightingtable").bootstrapTable({data: test_data});
          //$("#currentsightingtable").bootstrapTable('refresh',{"data": [current_sighting]});
          $("#artifacttable").bootstrapTable('destroy').bootstrapTable({
            columns: [
              {
                field: 'ID',
                visible: false,
              }, 
              {
                title: 'Image',
                field: 'annotated_image',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Foot',
                field: 'Foot',
                align: 'center',
                valign: 'middle'
              },
              {
                title: 'Species',
                field: 'Species_Inference',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Individual',
                field: 'Individual_Inference',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Comments',
                field: 'UserComments',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Rating',
                field: 'Rating',
                align: 'center',
                valign: 'middle'
              },{
                title: 'WildTrack Comments',
                field: 'ExpertComments',
                align: 'center',
                valign: 'middle'
              }
            ],
            url:detail_url,
          });
          //$("#artifacttable").bootstrapTable('refresh', {"url": detail_url});
          //document.getElementById("artifacttable").url=detail_url;
          //document.getElementById("ModalSummary").innerHTML = ID;
          $("#ModalTable").modal();
        };
              

        function initTable() {
          $table.bootstrapTable('destroy').bootstrapTable({
            height: 650,
            locale:"en-US",
            columns: [
              {
                title: 'Organization',
                field: 'Organization',
                align: 'center',
                valign: 'middle'
              },
              {
                title: 'Name',
                field: 'Name',
                align: 'center',
                valign: 'middle'
              }, 
              {
                title: 'Date',
                field: 'TimeStamp',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Species',
                field: 'Species',
                align: 'center',
                valign: 'middle'
              }, {
                title: 'Predicted Species',
                field: 'Species_Inference',
                align: 'center',
                valign: 'middle',
              }, {
                title: 'Individual',
                field: 'Individual',
                align: 'center',
                valign: 'middle',
                visible: false
              }, {
                title: 'Predicted Individual',
                field: 'Individual_Inference',
                align: 'center',
                valign: 'middle',
                visible: false
              }, {
                title: 'Sex',
                field: 'Sex',
                align: 'center',
                valign: 'middle',
                visible: false
              }, {
                title: 'Images',
                field: 'Images',
                align: 'center',
                valign: 'middle',
                formatter:"ModalLinkFormatter"
              },{
                title: 'WildTrack Comments',
                field: 'ExpertComments',
                align: 'center',
                valign: 'middle'
              },{
                title:'ID',
                field: 'ID',
                align: 'center',
                visible: false
              }
            ]
          });
        };


        $(function() {
          initTable()
        });

        $("#artifacttable").on('editable-save.bs.table', function(editable, field, row, oldValue, $el) {
            //console.log("editable:", editable);
            console.log("field:", field);
            console.log("row", row[field],row["ID"]);
            console.log("oldValue", oldValue);
            //console.log("el", $el);
            var update_data={"ID":row["ID"],"Field":field,"Value":row[field]};
            var update_url='/update_artifact_details';
            //console.log(comment_data);
            $.ajax({
              type: 'POST',
			        url: update_url,
			        data: update_data,
			        success: function(response){
				        console.log(response);
			        },
			        error: function(error){
				        console.log(error);
			        }
		        });
          });

          $("#currentsightingtable").on('editable-save.bs.table', function(editable, field, row, oldValue, $el) {
            console.log("field:", field);
            console.log("row", row[field],row["ID"]);
            console.log("oldValue", oldValue);
            var update_data={"ID":row["ID"],"Field":field,"Value":row[field]};
            var update_url='/update_sighting_details';
            //console.log(comment_data);
            $.ajax({
              type: 'POST',
			        url: update_url,
			        data: update_data,
			        success: function(response){
				        console.log(response);
			        },
			        error: function(error){
				        console.log(error);
			        }
		        });
          });


          $("#table").on('editable-save.bs.table', function(editable, field, row, oldValue, $el) {
            console.log("field:", field);
            console.log("row", row[field],row["ID"]);
            console.log("oldValue", oldValue);
            var update_data={"ID":row["ID"],"Field":field,"Value":row[field]};
            var update_url='/update_sighting_details';
            //console.log(comment_data);
            $.ajax({
              type: 'POST',
			        url: update_url,
			        data: update_data,
			        success: function(response){
				        console.log(response);
			        },
			        error: function(error){
				        console.log(error);
			        }
		        });
        });


$("#reportsighting").click(function(){
        $('#ReportSightingModal').modal('show')});


$('#NewSightingform').on('submit',function(e){
    e.preventDefault();
    console.log("Saving form..");
    var formdata=new FormData(this);
    //data=$('#NewSightingform').serialize();
    //File data
    
    $.ajax({
        url:'/add_observation',
        type:'post',
        processData: false,
        contentType: false,
        data:formdata,
        success:function(){
            console.log("OK");
            $('#ReportSightingModal').modal('hide');
            $('#NewSightingform').trigger("reset");
            location.reload(true);

        },
        error:function(error){
				        console.log(error);
                        $('#ReportSightingModal').modal('hide');
                        location.reload(true);
			    }
    });
});



var loadFile = function(event) {
  var output = document.getElementById('prints');
  var files=event.target.files
  var str=""
  var div = document.createElement("div");
  for (var i = 0; i < files.length; i++) {
        var file = files[i];
        //Only pics
        if (!file.type.match('image'))
          continue;
          
          str = str+"<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='img-fluid img-thumbnail' style='width: 200px' />";
          output.insertBefore(div, null);
      }
  div.innerHTML=str
};

function loading(){

document.getElementById("save").innerHTML = "Saving, please wait ...";
};
        
{% endblock %} 