{% include 'toolbar-admin.html' %}

{% block header %}


{% endblock %}

{% block content %}  
<br>







<div class="container-fluid">
    <div id="toolbar">
        <button id="addspecies" class="btn btn-secondary">Add a  Species</button>
    </div>

    <div class="table-responsive">
      <table  
          id="speciesTable" class="table table-striped table-sm" 
          data-locale="en-US"
          data-toggle="table"
          data-search="true"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-show-export="true"
          data-pagination="true"
          data-side-pagination="server"
          data-id-field="ID"
          data-escape="false"
          data-undefined-text=""
          data-page-list="[10, 25, 50, 100, all]"
          data-url="get_species"
          data-height="650">
          <thead>
              <tr>
                  <th data-field="SpeciesCommon" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Species (Common)</th>
                  <th data-field="Genus" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Genus</th>
                  <th data-field="SpeciesLatin" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Species (Latin)</th>
                  <th data-field="SubSpecies" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Sub-Species</th>
                  <th data-field="Delete" data-halign="center" data-valign="middle"  data-formatter="operateFormatter" data-events="operateEvents">Delete</th>
                  <th data-field="ID" data-visible="false">ID</th>
              </tr>
          </thead>
      </table>
    </div>
</div>

<div id="AddSpeciesModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add a Species</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

        <div class="modal-body">
            <form id="AddSpeciesForm" method="POST" enctype="multipart/form-data">
                <div class = "form-group row">
                    <label for = "SpeciesCommon" class = "col-md-2 col-form-label">Species (Common)</label>
                    <div class = "col-md-4">
                        <input id = "SpeciesCommon" name = "SpeciesCommon" type = "text" class= "form-control">
                    </div>

                    <label for = "Genus" class = "col-md-2 col-form-label"> Species (Genus)</label>
                    <div class = "col-md-4">
                        <input id ="Genus" name = "Genus" type= "text" class = "form-control">
                    </div>

                </div>

                <div class = "form-group row">
                    <label for = "SpeciesLatin" class = "col-md-2 col-form-label">Species (Latin)</label>
                    <div class = "col-md-4">
                        <input id = "SpeciesLatin" name = "SpeciesLatin" type = "text" class= "form-control">
                    </div>

                    <label for = "SubSpecies" class = "col-md-2 col-form-label"> Sub-Species</label>
                    <div class = "col-md-4">
                        <input id ="SubSpecies"  name = "SubSpecies" type= "text" class = "form-control">
                    </div>

                </div>

                <div class = "form-group row">
                    <div class = "offset-md-8 col-md-0">
                        <button type = "cancel" data-dismiss = "modal" class = "btn btn-secondary">Cancel</button>    
                        <button type = "submit" class = "btn btn-primary">Submit</button>
                      
                    </div>
                </div>
             </div>
          </form>
        </div>
    </div>
</div>
            


<script>


var $speciestable = $('#speciesTable');


function operateFormatter(value, row, index) {
    return [
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-trash"></i>',
      '</a>'
    ].join('')
  };

  window.operateEvents = {
    'click .remove': function (e, value, row, index) {
      console.log("row, index, ID", row,index,row["ID"]);
      var data={"ID":row["ID"]};
      var url='/delete_species';
      //console.log(comment_data);
      $.ajax({
        type: 'POST',
        url: url,
        data: data,
        success: function(response){
          console.log(response);
        },
        error: function(error){
          console.log(error);
        }
      });
      $speciestable.bootstrapTable('remove', {
        field: 'ID',
        values: [row.ID]
      });
      //location.reload(true);
    }
  };





$("#speciesTable").on('editable-save.bs.table', function(editable, field, row, oldValue, $el) {
  //console.log("editable:", editable);
  console.log("field:", field);
  console.log("row", row[field], row["ID"]);
  console.log("oldValue", oldValue);
  //console.log("el", $el);
  var update_url='/update_species_details';
  var update_data={"ID":row["ID"], "Field":field, "Value":row[field]};
  //console.log(comment_data);
  
  $.ajax({
    type: 'POST',
          url: update_url,
          data: update_data,
          success: function(response){
              console.log(response);
              
              
          },
          error: function(error){
              console.log(error);
              
          }
      });
});

$("#addspecies").click(function(){
        $('#AddSpeciesModal').modal('show')
        });


$('#AddSpeciesForm').on('submit', function(e){
    e.preventDefault();
    var formdata=new FormData(this);
    //data=$('#NewSightingform').serialize();
    //File data
  
    $.ajax({
        url:'/add_species',
        type:'post',
        processData: false,
        contentType: false,
        data:formdata,
        success:function(){
            console.log("OK");
            $('#AddSpeciesModal').modal('hide');
            $('#AddSpeciesForm').trigger("reset");
            location.reload(true);

            },
        error:function(error){
				        console.log(error);
                        $('#AddSpeciesModal').modal('hide');
                        location.reload(true);
			    }
    });
});


</script>
{% endblock %} 